body { 
  font-family: "courier";
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 50% 1fr;
  grid-gap: 5px;
  height: 100vh;
  margin: 10px;  
}

p {
color: white;
  }
header {
  background: #F7EBEC;
  grid-area: header;
}

nav {
  background: #DDBDD5;
  grid-area: nav; 
}

section {
  background: #AC9FBB;
  grid-area: section;    
}


footer {
  background: #59656F;
  grid-area: footer;
}

header, nav, section, aside, footer {
  padding: 5px;
}

@media only screen and (min-width: 640px) {
 p {
 color: black;
 font-family: "century gothic";
 }
footer {
 background: #d1ebf2;
 }
}
@media only screen and (min-width: 768px) {
 header {
 background: #d1dcf2;
 }
}
@media only screen and (min-width: 1024px) {
 nav {
 background: #d5d1f2;
 }
}
@media only screen and (min-width: 1280px) {
 section {
 background: #e6d1f2;
 }
}